.navbar {
    width: 90%;
    padding: 16px 6%;
    background: rgba(19, 16, 16, 1);
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 50px;
    height: auto;
}

.logo span {
    color: #ba1010;
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-links a {
    color: #fff;
    margin-left: 24px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc33;
}